<h2>Contact</h2>
<hr />
<address>
  <strong>이명은</strong>
  <br />장비 제어 소프트웨어 엔지니어
</address>
<address>
  <abbr title="Email">E:</abbr>
  <a href="mailto:myeongeun.kr@gmail.com" class="d-block text-truncate">myeongeun.kr@gmail.com</a>
  <abbr title="Github">G:</abbr>
  <a href="https://github.com/lee-myeong-eun" target="_blank" class="d-block text-truncate">github.com/lee-myeong-eun</a>
</address>
<hr />
<a href="{{ site.baseurl }}/about/#contact" class="btn btn-primary btn-block btn-sm mt-3">상세 연락처 & 정보 보기</a>
