<div class="col-md-4 mb-5">
  <h2>Contact Me</h2>
  <hr />
  <address>
    <strong>이명은</strong>
    <br />반도체융합캠퍼스
    <br />반도체장비소프트웨어학과 하이테크과정
    <br />새로운 도전을 기다리는 주니어 개발자입니다.
    <br />📍 Location: South Korea (Open to Relocate)
    <br />
  </address>
  <address>
    <abbr title="Phone">P:</abbr>
    010-4077-6322
    <br />
    <abbr title="Email">E:</abbr>
    <a href="mailto:{{ site.email }}">이메일 문의하기</a>
    <a href="mailto:auddms1995@naver.com">auddms1995@naver.com</a>
    <br />
    <abbr title="Github">G:</abbr>
    <a href="https://github.com/lee-myeong-eun">github.com/lee-myeong-eun</a>
  </address>
</div>
